<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tic_Tac_Toe_WPF_beadando.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tic_Tac_Toe_WPF_beadando.Properties.Settings>
            <setting name="connection_String" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="D:\Dokumentumok_D\Proginfo\vizuális programozás\beadando2\Tic_Tac_Toe_WPF_beadando\rekordok.mdf";Integrated Security=True;Connect Timeout=30</value>
            </setting>
        </Tic_Tac_Toe_WPF_beadando.Properties.Settings>
    </userSettings>
</configuration>